# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

                 city           date   fare       ride_id  driver_count   type
0  Lake Jonathanshire  1/14/19 10:14  13.83  5.739410e+12             5  Urban
1  South Michelleport   3/4/19 18:24  30.24  2.343910e+12            72  Urban
2  Port Samanthamouth   2/24/19 4:29  33.44  2.005070e+12            57  Urban
3          Rodneyfort  2/10/19 23:22  23.44  5.149250e+12            34  Urban
4          South Jack    3/6/19 4:28  34.58  3.908450e+12            46  Urban

## Deliverable 1: Get a Summary DataFrame

In [ ]:
#create a urban , suburban and rural dataframe
urban_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
#urban_df
suburban_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
#suburban_df
rural_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
#rural_df

In [ ]:
# dataframe groupby using city type
city_type =pyber_data_df.groupby("type")

In [3]:
#  1. Get the total rides for each city type
total_rides= city_type.count()["ride_id"]
total_rides

In [4]:
# 2. Get the total drivers for each city type
total_driver = city_type.sum()["driver_count"]
total_driver

In [5]:
#  3. Get the total amount of fares for each city type
total_fares = city_type.sum()["fare"]
total_fares

In [6]:
#  4. Get the average fare per ride for each city type. 
average_fare_per_ride = city_type.mean()["fare"]
average_fare_per_ride

In [7]:
# 5. Get the average fare per driver for each city type. 
average_fare_per_driver = total_fares / total_driver
average_fare_per_driver

In [8]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({ "Total Rides" : total_rides ,
    "Total Drivers" : total_driver ,
    "Total Fares" : total_fares , 
    "Average Fare per Ride" : average_fare_per_ride ,
    "Average Fare per Driver" : average_fare_per_driver})
pyber_summary_df

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

In [10]:
#  8. Format the columns.
pyber_summary_df["Total Rides"]=pyber_summary_df["Total Rides"].map("{:,}".format)
pyber_summary_df["Total Drivers"] =pyber_summary_df["Total Drivers"].map("{:,}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("$ {:,}".format)
pyber_summary_df["Average Fare per Ride"]=pyber_summary_df["Average Fare per Ride"].map("$ {:.2f}".format)      
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:.2f}".format)
                                                                                              
pyber_summary_df

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame
pyber_data_df.head(10)

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
total_fares_by_type_and_date= pyber_data_df.groupby(["type" , "date"]).sum()[["fare"]]
total_fares_by_type_and_date

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
total_fares_by_type_and_date = total_fares_by_type_and_date.reset_index()
total_fares_by_type_and_date

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
total_fares_by_type_and_date = total_fares_by_type_and_date.pivot(index= "date" , columns = "type" , values = "fare")
total_fares_by_type_and_date

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
date_df = total_fares_by_type_and_date.loc['2019-01-01':'2019-04-29']
date_df

In [ ]:
date_df.info()

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
date_df.index =pd.to_datetime(date_df.index)
date_df

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()
date_df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
total_fare_by_week = date_df.resample("W").sum()
total_fare_by_week

In [ ]:
# Create a new DataFrame using the "resample()" function by month 'M' and get the sum of the fares for every month
total_fare_by_month = date_df.resample("M").sum()
total_fare_by_month

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 
import matplotlib.dates as mdates

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')

ig = plt.figure(figsize=(18,5))
ax = fig.add_subplot()
ax.plot(total_fare_by_week,linewidth = 2 , label = ["Rural" , "Suburban" ,"Urban"] )

# Make ticks on occurrences of each month:
ax.xaxis.set_major_locator(mdates.MonthLocator())
# Get only the month to show in the x-axis:
ax.xaxis.set_major_formatter(mdates.DateFormatter('%b'))
# Format chartIncorporate the other graph properties
ax.set_title("Total Fare by City Type", fontsize=18)
ax.set_ylabel("Fare ($USD)", fontsize=15)
ax.set_xlabel("Month")
ax.grid(True)
ax.legend(title="type" , loc = "upper right")
plt.tight_layout()
plt.savefig("analysis/PyBer_fare_summary_by_oop_method.png")

In [1]:
# Using the the MATLAB method, plot the resample DataFrame using the df.plot() function.

from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')


total_fare_by_week.plot(figsize=(18,5))
plt.xlabel("")
plt.ylabel('Fare ($USD)')
plt.title('Total Fare by City Type')
plt.tight_layout()
plt.savefig("analysis/PyBer_fare_summary.png")

NameError: name 'total_fare_by_week' is not defined